@import "./variables";

.herohome {
  background-image: url("/images/hero-bg.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .best {
    font-size: 1.5rem;
    color: $primary-color;
    font-weight: bold;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;

    .highlight {
      color: $primary-color;
    }
  }
  .inner_content_box {
    background-color: #fff;
    border: 1px solid rgba(33, 37, 41, 0.1);
    border-radius: 20px;
    box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.1);
    margin: 100px auto 0;
    padding: 25px 25px 80px;
    width: 70%;
    position: relative;
    .city_box {
      display: flex;
      justify-content: center;
      padding: 20px 40px;
      position: absolute;
      text-align: center;
      width: 79%;
      background-color: #fff;
      border: 1px solid rgba(33, 37, 41, 0.1);
      border-radius: 20px;
      box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.1);
      top: -70px;
      left: 50%;
      transform: translateX(-50%);
      .city-item {
        p {
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    .content_box2 {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: space-evenly;
      margin-top: 70px;
    }
  }

  .search-box {
    .form-select {
      width: 260px;
      padding: 10px;
    }

    .btn-primary {
      background-color: $primary-color;
      border: none;
      padding: 10px 15px;
    }
  }
}
.services {
  margin-top: -50px;
  padding: 10px 0;
  .box {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .service_box {
      width: 190px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(33, 37, 41, 0.1);
      border-radius: 10px;
      box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.1);
      padding: 10px;
      min-height: 162px;
      flex-shrink: 0;
      h4 {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        margin-top: 8px;
      }
      .icon {
        width: 70px;
        height: 88px;
        position: relative;
      }
    }
  }
}

.services_overview {
  padding: 100px 0;
  .overview_img {
    position: relative;
    width: 100%;
    height: 271px;
    border-radius: 15px;
    overflow: hidden;
  }
}

.counter {
  padding: 100px 0 0;
  .counter_box {
    background-color: $background-color;
    border: 1px solid rgba(33, 37, 41, 0.1);
    border-radius: 20px;
    box-shadow: 0 0 12px -5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    .counter_item {
      text-align: center;
      h2 {
        font-size: 53px;
        font-weight: 600;
        color: $heading-color;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
